<!DOCTYPE html>
<html>

<head>
    <style>
        /* Inline styles for maximum compatibility */
        .email-layout {
            max-width: 500px;
            width: 100%;
            background-color: white;
            padding: 25px;
            border-radius: 5px;
            margin: 0 auto;
        }

        .email-footer {
            max-width: 414px;
            width: 100%;
            background-color: #f5f5f5;
            padding: 25px;
            border-radius: 5px;
            margin: 0 auto;
        }

        body {
            background-color: #f5f5f5;
            margin: 0;
            font-family: Helvetica;
        }

        .image-container {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        .listing-image {
            width: 100%;
            height: 240px;
            object-fit: cover;
            margin: 0 auto;
            border-radius: 5px;
            margin-top: 10px;
        }

        .divider {
            width: 100%;
            height: 0px;
            border: 0.29px #D9D9D9 solid;
            margin-top: 10px
        }

        .header-1 {
            color: #193666;
            font-weight: 700;
            margin-top: 25px;
        }

        .subheader-1 {
            color: #282828;
            font-weight: 200;
            text-align: center;
            font-size: 30px;
        }
        .subheader-2 {
            color: #282828;
        }

        .header-2 {
            color: #193666;
            font-weight: 600;
        }

        .location {
            font-weight: 300;
            vertical-align: middle;
        }

        .container {
            max-width: 414px;
            width: 100%;
            background-color: white;
            padding: 25px;
            border-radius: 5px;
        }

        .body {
            font-family: Helvetica;
            display: flex;
            justify-content: center;
            height: fit-content;
            margin: 0;
            background-color: #f5f5f5;
            justify-content: center;
        }

        footer {
            max-width: 414px;
            width: 100%;
            border-radius: 5px;
            overflow-x: visible;
        }

        .divider {
            width: 100%;
            height: 0px;
            border: 0.29px #D9D9D9 solid;
            margin-top: 10px
        }
    </style>
</head>

<body>
    <table class="email-layout">
        <tbody>
            <tr>
                <td>
                    <img src="https://spacepal-email-assets-prd.s3.amazonaws.com/spaces.gif" alt="spacePal" border="0"
                        width="100%" height="auto">
                    <h2 class="subheader-1"><strong>Llegó la nueva forma de alquilar espacios </strong>
                    </h2>
                   <p style="font-size: 18px; text-align: center;" ><b>SpacePal</b> es tu plataforma para encontrar espacios que se acomodan a tu actividad o momento.</p>
                   <div style="margin-top: 20px; margin-left: 150px;">
                    <div>
                        <a href="https://app.space-pal.com/"
                            style="text-decoration: none; border:none">
                            <button
                                style="padding-right: 30px; padding-left: 30px; height: 40px; background: #BCFF6B; border-radius: 10px; border: 0px; font-family: Helvetica;">
                                <div style="color: black; font-size: 12px; font-weight: 700">
                                    Ir a SpacePal
                                </div>
                            </button>
                        </a>
                    </div>
                </div>






                    <h3 class="subheader-2" style="text-align: center;">¿Necesitas un espacio para trabajar?</h3>
                        
                        <p style="text-align: center;"> <b>En SpacePal encontrás</b>, rápido y sin vueltas, <b>el lugar que necesitás para desarrollarte</b>: el estudio de fotografía para la campaña del verano, el consultorio para atender mañana, la oficina para la semana que viene mientras te instalan el wifi en tu casa y más, muuuucho más.
                        </p>

                        <img src="https://spacepal-email-assets-prd.s3.amazonaws.com/screen.gif" alt="spacePal" border="0"
                        width="100%" height="auto">
                        <br>
                        <div style="margin-top: 20px; margin-left: 140px;">
                            <div>
                                <a href="https://app.space-pal.com/"
                                    style="text-decoration: none; border:none">
                                    <button
                                        style="padding-right: 30px; padding-left: 30px; height: 40px; background: #BCFF6B; border-radius: 10px; border: 0px; font-family: Helvetica;">
                                        <div style="color: black; font-size: 12px; font-weight: 700">
                                            Explorar espacios
                                        </div>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <h3 class="subheader-2" style="text-align: center;"> ¿Tenés un espacio para trabajar?
                        </h3>
                        
                        <p style="text-align: center;"> <b>Podés publicarlo sin costo para llegar a muchos más profesionales</b>, gestionar la agenda y los pagos desde SpacePal y, la que nos gusta a todos: ganar más plata 🤑.
                        </p>                        <div style="margin-top: 20px;">
                            <div style="margin-top: 20px; margin-left: 150px;">
                                <div>
                                    <a href="https://app.space-pal.com/"
                                        style="text-decoration: none; border:none">
                                        <button
                                            style="padding-right: 30px; padding-left: 30px; height: 40px; background: #BCFF6B; border-radius: 10px; border: 0px; font-family: Helvetica;">
                                            <div style="color: black; font-size: 12px; font-weight: 700">
                                                Quiero ser host
                                            </div>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                  
                        <br />
                    <br />


                    
                    
                    <div style="background-color: #BCFF6B; width: 100%;">
                        <img src="https://spacepal-email-assets-prd.s3.amazonaws.com/footer.png" alt="linkedin" border="0" width="auto"
                            height="100"/>
                            <span style="padding-left: 90px;  background-color: #BCFF6B;">
                            <a href="https://www.linkedin.com/company/spacepalar/" target="_blank"  >
                                <img src="https://spacepal-email-assets-prd.s3.amazonaws.com/linkedin-black.png" alt="linkedin" border="0"
                                    width="25" height="25" style="margin-bottom: 30px; margin-right: 10px;">
                            </a>
                            <a href="https://www.instagram.com/spacepal.ar/" target="_blank">
                                <img src="https://spacepal-email-assets-prd.s3.amazonaws.com/instagram-black.png" alt="instagram" border="0"
                                    width="25" height="25"style="margin-bottom: 30px; margin-right: 10px;" >
                            </a>
                            <a href="https://www.tiktok.com/@spacepal.pro" target="_blank">
                                <img src="https://spacepal-email-assets-prd.s3.amazonaws.com/tiktok-black.png" alt="instagram" border="0"
                                    width="25" height="25"style="margin-bottom: 30px; margin-right: 10px;" >
                            </a>
                        </span>
                    </div>

                    <p>
                        Libertad para trabajar desde donde quieras.
                    </p>
                    <p style="font-size: 12px;">
                        Si tenés dudas escribinos a support@space-pal.com
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>